<footer>
    <a class="turnOffLight" onclick="toggleLight()">
        <% if ( locals.theme == 'theme-light' ) { %>
            Sluk for lyset
        <% } else { %>
            Tænd for lyset
        <% } %>
    </a>

    <script src="/assets/js/toggle-light.js"></script>
</footer>