<div class="content">
    <div class="container gs-bottom-xl">
        <p class="text-l" title="psst! indstillingerne kan godt finde på at bide ;)">Historik</p>
    </div>
    <div class="container clickable">
        <br> <p> Jeg tænkte at den første mail kunne være her </p> <br>
    </div>
    <div class="container clickable">
        <br> <p> Jeg tænkte at den første mail kunne være her </p> <br>
    </div>
</div>