<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%- include("../navbar/static.ejs") %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <% if ( locals.active && active == 'dashboard') { %>
                <li class="nav-item active">
            <% } else{ %>
                <li class="nav-item">
            <% } %>
                <a class="nav-link" href="../dashboard">Dashboard <span class="sr-only">(current)</span></a>
            </li>


            <% if ( locals.active && active == 'write') { %>
                <li class="nav-item active">
            <% } else{ %>
                <li class="nav-item">
            <% } %>
                <a class="nav-link" href="../write">Ny mail</a>
            </li>


            <% if ( locals.active && active == 'drafts') { %>
                <li class="nav-item active">
            <% } else{ %>
                <li class="nav-item">
            <% } %>
                <a class="nav-link" href="../drafts">Kladder</a>
            </li>


            <% if ( locals.active && active == 'sent') { %>
                <li class="nav-item active">
            <% } else{ %>
                <li class="nav-item">
            <% } %>
                <a class="nav-link" href="../sent">Sendte mails</a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Min profil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Kontakter</a>
                    <a class="dropdown-item" href="#">Indstillinger</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Log ud</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>