<a class="navbar-brand" href="../">
    <img src="/assets/icons/envelope.svg" alt="" width="32" height="32" title="Bootstrap">
    Mail-Service
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>