<div class="content">
    <div class="container gs-bottom-xl">
        <p class="text-l" title="psst! indstillingerne kan godt finde på at bide ;)">Indstillinger</p>
    </div>

    <div class="container">
        <br> <p>Du kan sende <u> <%= user.amountOfMails %></u> mails</p>
        
        <br> <p class="btn-visible width-s align-right align-bottom">Køb flere mails</p>
        
        <br>
        
    </div>

    <div class="container">
        <br>
        <p>
            1. Valg af email <br><br>
            2. Køb flere mails <br><br>
            3. Custom theme
        </p>
        <br>
    </div>
</div>