<div class="content">
    <div class="container def-title">
        <h1> Indstillinger </h1>
    </div>
</div>


<div class="content">
    <div class="container space-l">
        <h2> Statistik </h2>
        <br><br>
        <p>
            Du har sendt  
            <br><br><br>
            
            <a class="content-btn" href="/profile/settings">Se mere</a>
        </p>
    </div>
    <div class="container">
        <h2>
            Du har<span class="content-highlight"> <%= user.amounts.Coins %> mønter</span>på din konto
        </h2>
        <br><br>
        <p>
            Du kan altid købe flere mails!
            
            <br><br><br>
            
            <a class="content-btn" href="/profile/write">Få flere mønter</a>
        </p>
    </div>
</div>

<div class="content">
    <div class="container">
        <br>
        <p>
            1. Valg af email <br><br>
            2. Køb flere mails <br><br>
            3. Custom theme
        </p>
        <br>
    </div>
</div>
<div class="content">
    <div class="container">
        <a class="content-btn content-danger" href="/auth/logout">Log ud</a>
    </div>
</div>